otus_architecture_lab_8/.vs/
otus_architecture_lab_8/packages/
otus_architecture_lab_8/UnitTestProject1/obj/
otus_architecture_lab_8/otus_architecture_lab_8/obj/
otus_architecture_lab_8/otus_architecture_lab_8/bin/
otus_architecture_lab_8/UnitTestProject1/bin/
